#
__pycache__/

# weights
*.safetensors 
*.pt


# data 

# credentials
*credentials.json

# folders
.venv
datasets 
input
test_folder
cache
.cache
output
streamlit_app
simpletuner_sdk

#files 
service_worker.py

nohup.out