[
    {
        "id": "text-embed-cache",
        "dataset_type": "text_embeds",
        "default": true,
        "type": "local",
        "cache_dir": "/home/GANA/nour-genai-product-design-simpletuner/cache/flux/text",
        "write_batch_size": 128
    },
    {
        "id": "classic-fusion-1024",
        "type": "local",
        "instance_data_dir": "/home/GANA/nour-genai-product-design-simpletuner/datasets/classic_fusion",
        "crop": false,
        "resolution_type": "pixel_area",
        "metadata_backend": "discovery",
        "caption_strategy": "textfile",
        "cache_dir_vae": "/home/GANA/nour-genai-product-design-simpletuner/cache/flux/vae/1024",
        "resolution": 1024,
        "minimum_image_size": 768,
        "repeats": 10
    },
    {
        "id": "classic-fusion-crop-1024",
        "type": "local",
        "instance_data_dir": "/home/GANA/nour-genai-product-design-simpletuner/datasets/classic_fusion",
        "crop": true,
        "crop_aspect": "square",
        "crop_style": "center",
        "vae_cache_clear_each_epoch": false,
        "resolution_type": "pixel_area",
        "metadata_backend": "discovery",
        "caption_strategy": "textfile",
        "cache_dir_vae": "/home/GANA/nour-genai-product-design-simpletuner/cache/flux/vae-crop/1024",
        "resolution": 1024,
        "minimum_image_size": 768,
        "repeats": 10
    }
]